.btn {
  margin: 2em;
  width: 80%;
  background: rgb(56, 56, 56);
}

.btn:active, .btn:hover {
  background: white;
  color: #93291E;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#output {
  height: 2em;
  font-size: 30px;
  text-align: center;
}
