html, body {
  height: 100%;
  width: 100%;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  color: white;
}

.btn {
  margin: 2em;
  width: 80%;
  background: rgb(56, 56, 56);
}

.btn:active {
  background: white;
  color: #93291E;
}

.container-fluid {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}

.col {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2em;
  align-items: center;
}

#output {
  height: 2em;
  font-size: 30px;
}
